---
layout: base.njk
templateClass: tmpl-home
---

{# The Home page uses this template–it extends the base template #}

<div class="wrapper home">
  <div class="content">

<div class="illo-container">
<img class="illustration" src="/assets/tada.svg"/>
</div>

    {{ content | safe }}
    
  </div>
</div>
