html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  line-height: 1;
  vertical-align: top;
}
table {
  margin: 0;
  padding: 0;
}
main {
  height: 100%;
  margin: 0;
  padding: 0;
}
.table-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.sakusen {
  border-collapse: collapse;
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-100%, -100%);
  text-align: center;
}
.table {
  border-collapse: collapse;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}
.sakusen-tile {
  min-width: 100px;
  height: 100px;
  border: 1px solid black;
  font-size: 36px;
  background-color: lightblue;
}
.tile {
  width: 120px;
  height: 120px;
  border: 1px solid black;
  font-size: 36px;
  background-color: rgb(51, 204, 102);
  flex-wrap: wrap;
}
.circle {
  width: 35px;
  height: 70px;
  border-radius: 50%;
  background-color: blue;
  margin: auto;
}
